body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(282, 58%, 47%, 1);
    background: linear-gradient(90deg, hsla(282, 58%, 47%, 1) 0%, hsla(210, 80%, 29%, 1) 100%);
}

h1 {
    color: white;
    font-size: 35px;
}

.events {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event {
    width: 550px;
    border-radius: 10px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    background-color: rgb(225, 225, 225);
}
.event-title {
    font-size: 18px;
    text-align: center;
    height: 5%;
}
.event-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.image {
    width: 45%;
    margin-left: 2.5%;
    height: 180px;
}

.description {
    width: 45%;
    margin-left: 2.5%;
}

.date-hour-place {
    text-align: right;
    margin-right: 50px;
}

.access-button {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, hsla(167, 57%, 48%, 1) 0%, hsla(112, 72%, 62%, 1) 100%);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.access-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.5s;
}

#image_1 { background: linear-gradient(90deg, hsla(135, 53%, 50%, 1) 0%, hsla(217, 78%, 69%, 1) 100%); }
#image_2 { background: linear-gradient(90deg, hsla(229, 54%, 47%, 1) 2%, hsla(281, 80%, 51%, 1) 100%); }
#image_3 { background: linear-gradient(90deg, hsla(352, 54%, 47%, 1) 2%, hsla(34, 80%, 51%, 1) 100%); }
#image_4 { background: linear-gradient(90deg, hsla(175, 54%, 47%, 1) 2%, hsla(34, 80%, 51%, 1) 100%); }